<div class="mb-sm">
  <%= question.body%>
</div>

<div class="text-sm question-footer">
  <div class="text-gray">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
    <%= link_to fa_icon('pencil'), edit_question_path(question), title: 'Изменить вопрос' %>
    <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос', form: {data: {turbo_confirm: 'Точно удалить вопрос?'}} %>
    <% unless question.hidden? %>
      <%= button_to fa_icon('eye-slash'), "/questions/#{question.id}/hide", method: :put, title: 'Скрыть вопрос' %>
    <% end %>
  </div>
</div>
