<div class="mb-sm text-ws">
  <%= question.body%>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
  <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-gray">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Изменить вопрос', class: 'mr-sm' %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос', 
        form: {data: {turbo_confirm: 'Точно удалить вопрос?'}}, class: 'mr-sm' %>
      <% unless question.hidden? %>
        <%= button_to fa_icon('eye-slash'), "/questions/#{question.id}/hide", method: :put, title: 'Скрыть вопрос' %>
      <% end %>
    </div>
  <% end %>
</div>
